<header class="navbar">
  <div class="container">
    <div class="logo">
      <a [routerLink]="'/'">
        <img src="assets/logo.png" alt="Logo du site" />
      </a>
    </div>

    <nav>
      <ul class="nav-list" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a [routerLink]="'/programmes-sportifs'" class="nav-link">Programmes Sportifs</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="'/programmes-alimentaires'" class="nav-link">Programmes Alimentaires</a>
        </li>
      </ul>

      <ul class="auth-list" *ngIf="!isLoggedIn">
        <li>
          <a [routerLink]="'/login'" class="nav-link">Se connecter</a>
        </li>
        <li>
          <a [routerLink]="'/register'" class="btn btn-primary">S'inscrire</a>
        </li>
      </ul>

      <ul class="auth-list" *ngIf="isLoggedIn">
        <li class="user-menu">
          <button class="user-menu-button" (click)="toggleUserMenu()">
            <span class="user-icon">👤</span>
          </button>
          <ul class="user-dropdown" [class.show]="isUserMenuOpen">
            <li (click)="goToAccount()">Compte</li>
            <li (click)="logout()">Déconnexion</li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
